{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    <h1>Transactions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date</th>
                <th>Iduser</th>
                <th>Account</th>
                <th>Transfer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.iduser }}</td>
                <td>{{ transaction.account }}</td>
                <td>{{ transaction.transfer }}</td>
                <td>
                    <a href="{{ path('transactions_show', {'id': transaction.id, 'acc':acc}) }}">show</a>
                    <a href="{{ path('transactions_edit', {'id': transaction.id, 'acc':acc}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a href="{{ path('transactions_new',{ 'acc':acc,'cust': cust}) }}">Create new</a>
{% endblock %}
