{% extends 'base.html.twig' %}

{% block title %}Manager index{% endblock %}

{% block body %}

   <div class="row" >
    <h1>Manager index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Manage Customer</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manager in managers %}
            <tr>
                <td>{{ manager.id }}</td>
                <td>{{ manager.firstname }}</td>
                <td>{{ manager.lastname }}</td>
                <td>{{ manager.email }}</td>
                <td><a href="{{ path('customers_option', {'manager': manager.id}) }}">Customer</a></td>
                <td>
                    <a href="{{ path('manager_show', {'id': manager.id}) }}">show</a>
                    <a href="{{ path('manager_edit', {'id': manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="row" > <a href="{{ path('manager_new') }}">Create new</a> </div>
   
{% endblock %}
