{% extends 'base.html.twig' %}

{% block title %}Tranfers{% endblock %}

{% block body %}
    <h1>Tranfers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tranfer.id }}</td>
            </tr>
            <tr>
                <th>Transfer</th>
                <td>{{ tranfer.transfer }}</td>
            </tr>
            <tr>
                <th>Payer</th>
                <td>{{ tranfer.payer }}</td>
            </tr>
            <tr>
                <th>Payee</th>
                <td>{{ tranfer.payee }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tranfers_index',{'acc':acc}) }}">back to list</a>

    <a href="{{ path('tranfers_edit', {'id': tranfer.id, 'acc':acc}) }}">edit</a>

    {{ include('tranfers/_delete_form.html.twig') }}
{% endblock %}
