{% extends 'base.html.twig' %}

{% block title %}New Accounts{% endblock %}




{% block body %}
<div style=" 
padding-left : 10%;
padding-right : 10%;
align-content: center;
justify-content: center;"> 

<h1> Create new Accounts</h1>
{{ form_start(form) }}

<div class="form-group">
    {{ form_label(form.account) }}
    {{ form_errors(form.account,{'attr':{'class':'form-control'}}) }}
    {{ form_widget(form.account,{'attr':{'class':'form-control'}} ) }}    
</div>

<div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description,{'attr':{'class':'form-control'}}) }}
        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}    
</div class="form-group">

<div class="form-group">
    {{ form_label(form.type) }}
     {{ form_errors(form.type,{'attr':{'class':'form-control'}}) }}
     {{ form_widget(form.type,{'attr':{'class':'form-control'}}) }}    
</div>

<div class="form-group">
    {{ form_label(form.customer) }}
    {{ form_errors(form.customer) }}
    {{ form_widget(form.customer,{'attr':{'title':'The account must exist','class':'form-control'}} ) }}    
</div>   

<div class="form-group">
    <br>
    <br>
    <button class="btn">{{ button_label|default('Save') }}</button>
</div>
    
{{ form_end(form) }}


    <a href="{{ path('cust_accounts_index', {'customer': customer}) }}">back to list</a>
</div>
    
{% endblock %}
